.container {
  max-width: 1000px;
  padding: 0 3rem 3rem;
  margin: 3rem auto 3rem;
  background: #252525;
  border-radius: 10px;
  box-shadow: 0 0 50px black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}